import scrapy
from .item import {{name}}, {{name[:-4]}}Loader
from .config import Config

class {{name}}Spider(scrapy.Spider):
    name = '{{name.lower()}}'
    custom_settings = {
        'ITEM_PIPELINES': {
            '{{name.lower()}}_scrapper.pipeline.{{name}}ProcessorPipeline': 100,
            '{{name.lower()}}_scrapper.pipeline.{{name}}SaverPipeline' : 200
        }
    }

    def __init__(self, url, output):
        self.start_urls = [
            url
        ]
        self.output = output


    def parse(self, response):
        countries = response.css(".country")
        output = []
        for country in countries:
            loader = CountryLoader(selector=country)
            loader.add_css(Config.name, ".country-name::text")

            item = loader.load_item()
            yield item